<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<select class="custom-select" #t (change)="changeCity(t.value)">
  <option value="" disabled>Select to view</option>
  <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
</select>


<div *ngIf="mainSelection">
  <h4>Select member</h4>

  <select class="custom-select" #s (change)="changesubOptions(item)">
    <option value="" disabled>Select Memeber</option>
    <option *ngFor="let item of SubOptions;let i = index"  #selectedOption (click)="selectedOption(i,selectedOption)">{{item.Member}}</option>
  </select>

  <h4>{{memberSelected.Member}} ---- {{memberSelected.Dataset}}</h4>
  <div *ngFor="let line of memberSelected.Lines">
    {{line}}

  </div>
</div>


<!-- <div *ngFor="let item of SubOptions">

  <h4>{{item.Member}} ---- {{item.Dataset}}</h4>


  <div *ngFor="let line of item.Lines">
    {{line}}

  </div>

</div> -->
<!-- 
<h2>IEASYSxx</h2>
<div *ngFor="let item of IEASYSxx">

  <h4>{{item.Member}} ---- {{item.Dataset}}</h4>


  <div *ngFor="let line of item.Lines">
    {{line}}

  </div>

</div>

<h2>PROGxx</h2>
<div *ngFor="let item of PROGxx">

  <h4>{{item.Member}} ---- {{item.Dataset}}</h4>


  <div *ngFor="let line of item.Lines">
    {{line}}

  </div>

</div>

<h2>BPXPRMxx</h2>
<div *ngFor="let item of BPXPRMxx">
    <h4>{{item.Member}} ---- {{item.Dataset}}</h4>

  <div *ngFor="let line of item.Lines">
    {{line}}

  </div>

</div> -->
<!-- <div class="app-component test-panel-container">
 <mat-tab-group class="md-primary">
  <mat-tab label="LOADxx"> 
      <mat-accordion>
          <div *ngFor="let item of LOADxx">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <h4>{{item.Member}} ----  {{item.Dataset}}</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list"> 
                <div *ngFor="let line of item.Lines">   
                    {{line}}          
                    <mat-list-item role="listitem">{{line}}</mat-list-item> 
                  </div>
              </mat-list>   
          </mat-expansion-panel>
        <mat-divider></mat-divider> 
          </div>
        </mat-accordion>
    
  </mat-tab>
  <mat-tab label="IEASYSxx"> 
      <mat-accordion>
          <div *ngFor="let item of IEASYSxx">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <h4> {{item.Member}} ----  {{item.Dataset}}  </h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list role="list"> 
                  <div *ngFor="let line of item.Lines">   
                      {{line}}          
                      <mat-list-item role="listitem">{{line}}</mat-list-item> 
                    </div>
               </mat-list>     
            
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          </div>
        </mat-accordion>
  </mat-tab>
  <mat-tab label="PROGxx">
      <mat-accordion>
          <div *ngFor="let item of PROGxx">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <h4> {{item.Member}} ----  {{item.Dataset}}</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list role="list"> 
                  <div *ngFor="let line of item.Lines">   
                      {{line}}          
                   <mat-list-item role="listitem">{{line}}</mat-list-item> 
                    </div>
                </mat-list>   
            
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          </div>
        </mat-accordion> 
  </mat-tab>
  <mat-tab label="BPXPRMxx"> 
      <mat-accordion>
          <div *ngFor="let item of BPXPRMxx">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <h4> {{item.Member}} ----  {{item.Dataset}}</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
                <mat-list role="list"> 
                  <div *ngFor="let line of item.Lines">   
                      {{line}}          
                      <mat-list-item role="listitem">{{line}}</mat-list-item> 
                    </div>
                 </mat-list>     
            
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          </div>
        </mat-accordion>
  </mat-tab>
</mat-tab-group>
</div> -->
<zlux-popup-manager>
</zlux-popup-manager>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->